<div class="card">
    <div class="card-body">
        <h1>{{postagem.titulo}}</h1>
        <hr>
        <p>Data da publicação: {{postagem.date}}</p>
        <small>{{postagem.conteudo}}</small>
        <br><br>
        <small>Categoria: {{categoria.nome}}</small>
        <br>
    </div>
</div>